---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Cofundable — Connecting people to the tools and resources they need to organize around a common cause',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://github.com/cofundable/cofundable',
        target: '_blank',
      },
      { text: 'Learn more', href: '#how-it-works' },
    ]}
  >
    <Fragment slot="title">Making it easier to do good</Fragment>

    <Fragment slot="subtitle">
      Cofundable is an online marketplace and integration platform that helps people find and connect the tools they
      need to organize around a common cause.
      <br />
      <span class="font-semibold hidden md:block mt-3">Let's build something together.</span>
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="how-it-works"
    tagline="How it works"
    title="You focus on the mission, we'll take care of the rest."
    subtitle="Discover how Cofundable makes it easier for groups to collaborate, raise money, and prioritize how that money is spent."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Create a profile</span>',
        description:
          "Pick one of our templates that reflects the kind of community you're building or start from scratch. After you answer a few questions about your cause, you can begin inviting people to work with you.",
        icon: 'tabler:pencil',
      },
      {
        title: 'Step 2: <span class="font-medium">Connect your tools</em>',
        description:
          'Connect your existing collaboration tools or get recommendations for new ones. Once your tools are linked to your account, you can share data between them and manage activity from a single dashboard.',
        icon: 'tabler:tool',
      },
      {
        title: 'Step 3: <span class="font-medium">Engage the community</span>',
        description:
          'Stay connected with your community as it grows. Answer questions like "Who\'s been active in Slack but hasn\'t been to an event recently?" and "Which channels have people been most excited to join?"',
        icon: 'tabler:users',
      },
      {
        title: 'Step 4: <span class="font-medium">Fund your cause</span>',
        description:
          'If your cause needs funding, use a group account to accept donations, apply for grants, or collect fees. Then invite members of your community to prioritize how that money is spent.',
        icon: 'tabler:heart-dollar',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Open source project use case section **************** -->

  <Content
    id="open-source"
    isReversed
    tagline="Who it's built for"
    title="One platform,<br>countless possibilities"
    subtitle="While no two communities are exactly alike, we've tailored Cofundable's features to fit a few common use cases for collective action."
    items={[
      {
        title: 'Configure common tools and templates',
        description:
          'Connect the product roadmap to your community forum and let users report bugs or request features from Slack or Discord.',
      },
      {
        title: 'Convert stargazers into sponsors',
        description:
          'Discover contributors who have submitted PRs but not starred your project, and nudge users who request features to consider donating.',
      },
      {
        title: 'Let the community drive your roadmap',
        description:
          'Invite users who depend on your software to help prioritize functionality by creating crowdfunded bug and feature bounties.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Open source projects</h3>
       Starting a new software project and want it to be public? We can help you build an open source community around
      your code.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Community initiatives use case section **************** -->

  <Content
    id="community-initiative"
    isAfterContent
    items={[
      {
        title: 'Stay connected between meetings',
        description:
          'Keep your momentum going on projects with a community forum, document management, or a group list serv.',
      },
      {
        title: 'Collect dues and manage expenses',
        description:
          'Raise and distribute money for group projects without having to worry about compliance or tax issues.',
      },
      {
        title: 'Prioritize the projects you take on',
        description:
          'Let community members vote on whether to spend the budget on building a community garden or painting a local mural.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Community initiatives</h3>
       Neighborhood associations, mutual aid groups, and more. If you're already collaborating in person, we can help
      you bring it online.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Nonprofit use case community Widget **************** -->

  <Content
    id="nonprofit"
    isReversed
    isAfterContent
    items={[
      {
        title: 'Get the word out about your program',
        description:
          'Create a website that describes your work and stay connected with current and former program participants in a community forum.',
      },
      {
        title: 'Raise money to pay for what you need',
        description:
          'Manage donations, grants, and expenses in a single place with the legal and financial support of a fiscal sponsor.',
      },
      {
        title: 'Get input on the services you offer',
        description:
          'Ask the community you serve to help you prioritize certain types of programming and then share their priorities with funders.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Early stage nonprofits</h3>
       Running a program that you want to grow into an organization? We can connect you to the resources you need to
      scale your impact.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Local grant-makers use case community Widget **************** -->

  <Content
    id="grant-makers"
    isAfterContent
    items={[
      {
        title: 'Connect with local stakeholders',
        description:
          'Open communication channels with prospective applicants and community leaders to understand their needs and priorities.',
      },
      {
        title: 'Extend grants with outside donations',
        description:
          'Raise more money for the initiatives you support by creating funding opportunities that are open to public contributions.',
      },
      {
        title: 'Let the community drive the grant process',
        description:
          'Invite local stakeholders to decide how money is awarded to organizations working in their community.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Local grant-makers</h3>
       Community foundations, giving circles, and more. We can help you move philanthropy out of the boardroom and into
      the community.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    id="features"
    tagline="Features"
    title="What you get with Cofundable"
    subtitle="Discover our selection below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Website and branding',
        description:
          'By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces.',
        icon: 'tabler:school',
      },
      {
        title: 'Tool discovery and setup',
        description:
          'Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Automated workflows',
        description:
          'Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Community analytics',
        description:
          'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:article',
      },
      {
        title: 'Access to talent and expertise',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        icon: 'tabler:photo',
      },
      {
        title: 'Cost-sharing and discounts',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Expense management',
        description:
          'Offering pre-designed elements for a consistent brand identity, including logos and marketing materials. Ideal for new ventures or revamps.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Participatory budgeting',
        description: `From presentations to patient forms, these tools enhance communication effectiveness for healthcare professionals. Ideal for medical practices and research pursuits.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Plugin ecosystem',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        icon: 'tabler:photo',
      },
    ]}
  />

  <!-- Why cofundable section *************** -->

  <Features
    id="why-cofundable"
    tagline="Why Cofundable"
    title="What makes us different"
    subtitle="You bring the people, we'll take care of the rest. Discover how Cofundable helps you focus on growing your community instead of figuring out how to manage it."
    items={[
      {
        title: 'Fully open source',
        description:
          'Our codebase is completely open source, which means you can inspect it, modify and host it yourself, and submit your own features or bug fixes.',
        icon: 'tabler:code',
      },
      {
        title: 'Driven by the community',
        description:
          'Our product roadmap is also public and we use crowdfunded bug and feature bounties to prioritize the functionality that gets added to it.',
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Works with the tools you love',
        description:
          'Cofundable is designed to connect your tools, not replace them. Link your existing accounts and import activity data instead of starting from scratch.',
        icon: 'tabler:tool',
      },
      {
        title: 'Designed to be extended',
        description:
          "If you can't find an integration you need in our tool library, you can either build one yourself or start a campaign to fund a community-built plugin.",
        icon: 'tabler:plug',
      },
      {
        title: 'Built to scale with your team',
        description:
          'Our platform supports both small communities and large networks, with pricing plans that let you start with the basics then add features as you grow.',
        icon: 'tabler:trending-up',
      },
      {
        title: 'Portable by default',
        description:
          'Cofundable makes it easy to move data between the tools you link to your account, and all of your activity data can be exported with the click of a button.',
        icon: 'tabler:database-export',
      },
    ]}
  />
</Layout>
