---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Cofundable — Connecting people to the tools and resources they need to organize around a common cause',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://github.com/cofundable/cofundable',
        target: '_blank',
      },
      { text: 'Learn more', href: '#how-it-works' },
    ]}
  >
    <Fragment slot="title">Making it easier to do good</Fragment>

    <Fragment slot="subtitle">
      Cofundable is a platform that helps people find and connect the tools they need to organize around a common cause.
      Let's build something together.
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="how-it-works"
    tagline="How it works"
    title="You focus on the mission, we'll take care of the rest."
    subtitle="Discover how Cofundable makes it easier for groups to collaborate, raise money, and prioritize how that money is spent."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Create a profile</span>',
        description:
          "Pick one of our templates that reflects the kind of community you're building or start from scratch. After you answer a few questions about your cause, you can begin inviting people to work with you.",
        icon: 'tabler:pencil',
      },
      {
        title: 'Step 2: <span class="font-medium">Connect your tools</em>',
        description:
          'Connect your existing collaboration tools or get recommendations for new ones. Once your tools are linked to your account, you can share data between them and manage activity from a single dashboard.',
        icon: 'tabler:tool',
      },
      {
        title: 'Step 3: <span class="font-medium">Engage the community</span>',
        description:
          'Stay connected with your community as it grows. Answer questions like "Who\'s been active in Slack but hasn\'t been to an event recently?" and "Which channels have people been most excited to join?"',
        icon: 'tabler:users',
      },
      {
        title: 'Step 4: <span class="font-medium">Fund your cause</span>',
        description:
          'If your cause needs funding, use a group account to accept donations, apply for grants, or collect fees. Then invite members of your community to prioritize how that money is spent.',
        icon: 'tabler:heart-dollar',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Open source project use case section **************** -->

  <Content
    id="open-source"
    isReversed
    tagline="Who it's built for"
    title="One platform,<br>countless possibilities"
    subtitle="While no two communities are exactly alike, we've tailored Cofundable's features to fit a few common use cases for collective action."
    items={[
      {
        title: 'Configure common tools and templates',
        description:
          'Connect the product roadmap to your community forum and let users report bugs or request features from Slack or Discord.',
      },
      {
        title: 'Convert stargazers into sponsors',
        description:
          'Discover contributors who have submitted PRs but not starred your project, and nudge users who request features to consider donating.',
      },
      {
        title: 'Let the community drive your roadmap',
        description:
          'Invite users who depend on your software to help prioritize functionality by creating crowdfunded bug and feature bounties.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Open source projects</h3>
       Starting a new software project and want it to be public? We can help you build an open source community around
      your code.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Community initiatives use case section **************** -->

  <Content
    id="community-initiative"
    isAfterContent
    items={[
      {
        title: 'Stay connected between meetings',
        description:
          'Keep your momentum going on projects with a community forum, document management, or a group list serv.',
      },
      {
        title: 'Collect dues and manage expenses',
        description:
          'Raise and distribute money for group projects without having to worry about compliance or tax issues.',
      },
      {
        title: 'Prioritize the projects you take on',
        description:
          'Let community members vote on whether to spend the budget on building a community garden or painting a local mural.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Community initiatives</h3>
       Neighborhood associations, mutual aid groups, and more. If you're already collaborating in person, we can help
      you bring it online.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Nonprofit use case community Widget **************** -->

  <Content
    id="nonprofit"
    isReversed
    isAfterContent
    items={[
      {
        title: 'Get the word out about your program',
        description:
          'Create a website that describes your work and stay connected with current and former program participants in a community forum.',
      },
      {
        title: 'Raise money to pay for what you need',
        description:
          'Manage donations, grants, and expenses in a single place with the legal and financial support of a fiscal sponsor.',
      },
      {
        title: 'Get input on the services you offer',
        description:
          'Ask the community you serve to help you prioritize certain types of programming and then share their priorities with funders.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Early stage nonprofits</h3>
       Running a program that you want to grow into an organization? We can connect you to the resources you need to
      scale your impact.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Local grant-makers use case community Widget **************** -->

  <Content
    id="grant-makers"
    isAfterContent
    items={[
      {
        title: 'Connect with local stakeholders',
        description:
          'Open communication channels with prospective applicants and community leaders to understand their needs and priorities.',
      },
      {
        title: 'Extend grants with outside donations',
        description:
          'Raise more money for the initiatives you support by creating funding opportunities that are open to public contributions.',
      },
      {
        title: 'Let the community drive the grant process',
        description:
          'Invite local stakeholders to decide how money is awarded to organizations working in their community.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Local grant-makers</h3>
       Community foundations, giving circles, and more. We can help you move philanthropy out of the boardroom and into
      the community.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Cofundable"
    subtitle="You bring the people, we'll take care of the rest. Discover how Cofundable helps you focus on growing your community instead of figuring out how to manage it."
    items={[
      {
        title: 'Simple website builder',
        description:
          'A vibrant online community often starts with a website. Our simple website builder makes it easier to establish a digital presence for your cause.',
        icon: 'tabler:code',
      },
      {
        title: 'Tool discovery and management',
        description:
          "Don't spend hours looking for the tools you need. We'll help you find and set up the essentials like chat and document sharing in just a few clicks.",
        icon: 'tabler:tool',
      },
      {
        title: 'Branding guide and resources',
        description:
          "Find your community's visual identity. We'll help you choose the building blocks of a branding guide, including fonts, colors, and a logo.",
        icon: 'tabler:palette',
      },
      {
        title: 'Legal and financial support',
        description:
          'Managing money and compliance is important to do, but hard to do well. Let us handle details like taxes and reporting so that you can focus on the mission.',
        icon: 'tabler:report-money',
      },
      {
        title: 'Community building checklist',
        description:
          "There are a lot of steps involved in organizing a community. Our interactive checklist helps you track of what's most important.",
        icon: 'tabler:list-check',
      },
      {
        title: 'And so much more...',
        description:
          'Automated workflows, software discounts, and access to design and technical expertise. Our primary job is to make yours a little easier.',
        icon: 'tabler:seeding',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that Cofundable offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Cofundable?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          "Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it's actually our duty to future generations.",
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
</Layout>
