---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Cofundable — Connecting people to the tools and resources they need to organize around a common cause',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/cofundable/cofundable',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">Making it easier to do good</Fragment>

    <Fragment slot="subtitle">
      Cofundable is a platform that helps people find and adopt the tools they need to organize around a common cause.
      Let's build your community together.
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    tagline="How it works"
    title="You focus on the mission, we'll take care of the rest."
    subtitle="Discover how Cofundable makes it easier for groups to collaborate, raise money, and prioritize how that money is spent."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Describe your cause</span>',
        description:
          "Pick one of our templates that reflects the kind of community you're building or start from scratch. After you answer a few questions about your cause, you can begin inviting people to work with you.",
        icon: 'tabler:pencil',
      },
      {
        title: 'Step 2: <span class="font-medium">Connect the tools you need</em>',
        description:
          'Connect your existing collaboration tools or get recommendations for new ones. Once your tools are linked to your account, you can share data between them and manage activity from a single dashboard.',
        icon: 'tabler:tool',
      },
      {
        title: 'Step 3: <span class="font-medium">Engage your community</span>',
        description:
          'Stay connected with your community as it grows. Answer questions like "Who\'s been active in Slack but hasn\'t been to an event recently?" and "Which channels have people been most excited to join?"',
        icon: 'tabler:users',
      },
      {
        title: 'Step 4: <span class="font-medium">Raise and spend money together</span>',
        description:
          'If your cause needs funding, use a group account to accept donations, apply for grants, or collect fees. Then invite members of your community to prioritize how that money is spent.',
        icon: 'tabler:heart-dollar',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="Cofundable's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Project and issue templates',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Community forums and listservs',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Sponsorships and donations',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Open source groups</h3>
       Starting a new software project and want it to be public? We can help you build an open source community around
      your code.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Community initiatives</h3>
       Neighborhood associations, mutual aid groups, and more. If you're already collaborating in person, we can help
      you bring it online.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with Cofundable.',
      },
      {
        title: 'Community support',
        description: `Join the growing Cofundable community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-light dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Cofundable"
    subtitle="You bring the people, we'll take care of the rest. Discover how Cofundable helps you focus on growing your community instead of figuring out how to manage it."
    items={[
      {
        title: 'Simple website builder',
        description:
          'A vibrant online community often starts with a website. Our simple website builder makes it easier to establish a digital presence for your cause.',
        icon: 'tabler:code',
      },
      {
        title: 'Tool discovery and management',
        description:
          "Don't spend hours looking for the tools you need. We'll help you find and set up the essentials like chat and document sharing in just a few clicks.",
        icon: 'tabler:tool',
      },
      {
        title: 'Branding guide and resources',
        description:
          "Find your community's visual identity. We'll help you choose the building blocks of a branding guide, including fonts, colors, and a logo.",
        icon: 'tabler:palette',
      },
      {
        title: 'Legal and financial support',
        description:
          'Managing money and compliance is important to do, but hard to do well. Let us handle details like taxes and reporting so that you can focus on the mission.',
        icon: 'tabler:report-money',
      },
      {
        title: 'Community building checklist',
        description:
          "There are a lot of steps involved in organizing a community. Our interactive checklist helps you track of what's most important.",
        icon: 'tabler:list-check',
      },
      {
        title: 'And so much more...',
        description:
          'Automated workflows, software discounts, and access to design and technical expertise. Our primary job is to make yours a little easier.',
        icon: 'tabler:seeding',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that Cofundable offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Cofundable?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
</Layout>
